<tr>
    <td>
        <table width="600" cellpadding="0" cellspacing="0" border="0" frame="0" bgcolor="#fff" style="border-spacing: 0; padding: 0; border: 0; font-family: Arial, Helvetica, sans-serif; background-color: #fff; border-collapse: collapse; font-size: 16px; line-height: 24px;">
            <tbody>
            <tr>
                <td width="160" valign="top">
                    <img src="http://www.harryronchetti.com/storage/progressive.jpg" alt="Archetype" width="160" height="160" style="display: block; border: none;"/>
                </td>
                <td width="40">
                    &nbsp;
                </td>
                <td width="400">
                    <h2 style="font-size: 24px; color: #AA26FF; font-weight: bold; margin: 0 0 26px 0;">Progressive</h2>
                    <p style="font-size: 16px;  color: #9C8DA6; margin: 0 0 26px 0">You tend to be a founder who is able to scale an idea, and have tested the water in a low risk environment and then built it upwards.  You are at this point in your work journey because you have a particular goal in mind.  You have the tendency to focus solely on certain aspects at any one time and would value support on how to delegate certain activities</p>
                    <a style="font-size: 16px; color: #009EFF; text-decoration: underline; margin: 0 0 26px 0; display: block;" href="http://www.neone-creative.com/progressive.html">Find out more</a>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>