<tr>
    <td>
        <table width="600" cellpadding="0" cellspacing="0" border="0" frame="0" bgcolor="#fff" style="border-spacing: 0; padding: 0; border: 0; font-family: Arial, Helvetica, sans-serif; background-color: #fff; border-collapse: collapse; font-size: 16px; line-height: 24px;">
            <tbody>
            <tr>
                <td width="160" valign="top">
                    <img src="http://www.harryronchetti.com/storage/reactive.jpg" alt="Archetype" width="160" height="160" style="display: block; border: none;"/>
                </td>
                <td width="40">
                    &nbsp;
                </td>
                <td width="400">
                    <h2 style="font-size: 24px; color: #AA26FF; font-weight: bold; margin: 0 0 26px 0;">Reactive</h2>
                    <p style="font-size: 16px;  color: #9C8DA6; margin: 0 0 26px 0">You tend to be very adaptable to the situation you find yourself in, and are able to be successful in that ever changing environment.  You may be at this point in your work journey as you found yourself in a situation as an independent professional rather than finding it was necessary to become one.  You may need help in identifying your skill sets and learning how to develop a narrative that helps you communicate what you do as an independent professional.</p>
                    <a style="font-size: 16px; color: #009EFF; text-decoration: underline; margin: 0 0 26px 0; display: block;" href="http://www.neone-creative.com/reactive.html">Find out more</a>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>