<article class="archetype__behaviour">
    <section class="col__12-2">
        <img class="archetype__image" src="libs/img/archetypes/contemplative.jpg">
    </section>
    <section class="col__12-10">
        <h3 class="h2 text--core">Contemplative</h3>
        <p class="">
            You tend to be value driven as you know what it is you want to do and what you enjoy doing.  You may be at this point in your work journey as you enjoy the flexibility of working when it suits you.  You may need support in working out when to listen to your head rather than your heart as you follow your passion and interests when it comes to being an independent professional.
        </p>
        <a class="archetype__link" href="contemplative.html" target="_blank">Find out more</a>
    </section>
</article>