<article class="archetype__behaviour">
    <section class="col__12-2">
        <img class="archetype__image" src="libs/img/archetypes/impulsive.jpg">
    </section>
    <section class="col__12-10">
        <h3 class="h2 text--core">Impulsive</h3>
        <p class="">
            You tend to be a curious person who wants to be connected and exposed to opportunities.  You may be at this point in your work journey because of a life event (e.g. graduation, redundancy, etc.).  You have the potential to feel a little overwhelmed by the future and would value guidance.
        </p>
        <a class="archetype__link" href="impulsive.html" target="_blank">Find out more</a>
    </section>
</article>