<article class="archetype__behaviour">
    <section class="col__12-2">
        <img class="archetype__image" src="libs/img/archetypes/introspective.jpg">
    </section>
    <section class="col__12-10">
        <h3 class="h2 text--core">Introspective</h3>
        <p class="">
            You tend to be driven by your ideals/principles & unlikely to compromise on your values.  You may be at this place in your work journey because you feel that your preferred mode of work does not fit within the more traditional workplace.  You may need help with working out where you best fit within the communities that can support you.
        </p>
        <a class="archetype__link" href="introspective.html" target="_blank">Find out more</a>
    </section>
</article>