<article class="archetype__behaviour">
    <section class="col__12-2">
        <img class="archetype__image" src="libs/img/archetypes/intuitive.jpg">
    </section>
    <section class="col__12-10">
        <h3 class="h2 text--core">Intuitive</h3>
        <p class="">
            You tend to be drawn to opportunities that will produce tangible benefits, and you know what you want to do in your working life.  You may be at this point in your work journey because of a life event (e.g. graduation, redundancy, etc.) and are freelancing with the goal to move into employment.  You may need help in understanding the value (worth not just exposure) of your skills and abilities.
        </p>
        <a class="archetype__link" href="intuitive.html" target="_blank">Find out more</a>
    </section>
</article>