<article class="archetype__behaviour">
    <section class="col__12-2">
        <img class="archetype__image" src="libs/img/archetypes/proactive.jpg">
    </section>
    <section class="col__12-10">
        <h3 class="h2 text--core">Proactive</h3>
        <p class="">
            You tend to be very open to opportunities for growth and development and to learn new skills.  You may be at this place in your work journey because you want to grow and develop skills and ideas that interest you. You may need help in setting priorities and goals as you display levels of high functioning procrastination.
        </p>
        <a class="archetype__link" href="proactive.html" target="_blank">Find out more</a>
    </section>
</article>