<article class="archetype__behaviour">
    <section class="col__12-2">
        <img class="archetype__image" src="libs/img/archetypes/progressive.jpg">
    </section>
    <section class="col__12-10">
        <h3 class="h2 text--core">Progressive</h3>
        <p class="">
            You tend to be a founder who is able to scale an idea, and have tested the water in a low risk environment and then built it upwards.  You are at this point in your work journey because you have a particular goal in mind.  You have the tendency to focus solely on certain aspects at any one time and would value support on how to delegate certain activities
        </p>
        <a class="archetype__link" href="progressive.html" target="_blank">Find out more</a>
    </section>
</article>