<article class="archetype__behaviour">
    <section class="col__12-2">
        <img class="archetype__image" src="libs/img/archetypes/transactive.jpg">
    </section>
    <section class="col__12-10">
        <h3 class="h2 text--core">Transactive</h3>
        <p class="">
            You tend to be highly task and finish orientated on each and every job you undertake.  You may be at this point in your work journey as someone who is both employed and self-employed.  You may need support in the logistics of being self-employed in order to gain a sense of financial stability.
        </p>
        <a class="archetype__link" href="transactive.html" target="_blank">Find out more</a>
    </section>
</article>